@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Espaçamento padrão entre colunas de tabelas */
  th,
  td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  th:first-child,
  td:first-child {
    padding-left: 0;
  }
  th:last-child,
  td:last-child {
    padding-right: 0;
  }
}
